# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
.vs/
*.svd
.userprefs
/.csproj
*.csproj
*.pidb
.suo
/.sln
*.sln
*.user
*.unityproj
.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DSStore?
.
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db